{% macro render_field(field) %}
  {% if field.errors %}
    <div class="form-group has-error"> 
  {% else %}
    <div class="form-group">
  {% endif %}
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{ field.label(class="control-label")  }}
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{ field(class="form-control", **kwargs)|safe }}
        {% if field.errors %}
          {% for error in field.errors %}
            <span class="help-block"> {{ error }} </span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
{% endmacro %}


{% macro render_deduction_row(name, deduction, inclusion) %}
  <div class="form-group">
    {% if name.errors %}
      <div class=" has-error"> 
    {% else %}
      <div>
    {% endif %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {{ name(class="form-control", placeholder= name.label.text, **kwargs)|safe }}
      </div>
    </div>

    {% if deduction.errors %}
      <div class=" has-error"> 
    {% else %}
      <div>
    {% endif %}
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="input-group">
      <div class="input-group-addon">$</div>
      {{ deduction(class="form-control", **kwargs)|safe }}
      </div>
      </div>
    </div>
  
    {% if inclusion %}
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        {{ inclusion(class="form-control", **kwargs)|safe }}
      </div>
    {% endif %}

  </div>
  
{% endmacro %}

